@import './colors';
@import './animations';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Kufam', sans-serif;
	font-size: 1.6rem;
	color: $white;
	background-color: $darker;
}

h1.company-name {
	margin-bottom: 0.5em;
	font-size: 3rem;
	color: $royalblue;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}



.section-title {
	position: relative;
	margin: 0 auto 2em;
	font-size: 3.2rem;
	color: $royalblue;
	font-weight: 200;
	width: fit-content;

	&::before {
		content: '';
		position: absolute;
		bottom: -0.1em;
		left: 0;
		width: 48px;
		height: 2px;
		background: $royalblue;
	}

	span {
		font-weight: bold;
	}
}

// header

.header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	height: 100vh;
	position: relative;
	overflow: hidden;

	&__text {
		display: grid;
		justify-content: center;
		align-content: center;
		grid-row: 2/3;
		grid-column: 1/3;
		padding: 2em;

		p {
			font-weight: 200;
		}
	}

	&__img {
		grid-row: 1/2;
		grid-column: 1/3;
		position: relative;
		width: 100%;
		height: 100%;
		background-image: url('../img/hero-img.png');
		background-size: cover;
		background-position: 0 80%;
	}

	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
	}

	&__arrow {
		display: none;
	}

	&__bg-icon-one,
	&__bg-icon-two {
		position: absolute;
		opacity: 0.05;
		z-index: -5;
	}

	&__bg-icon-one {
		bottom: 2em;
		right: -3em;
		width: 50%;
		animation: rotate-right 55s infinite linear;
	}

	&__bg-icon-two {
		display: none;
	}

	&__logo {
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		width: 100%;
		height: 100%;

		&-position {
			padding: 20px 15px 0 0;
			width: 200px;
			right: 50px;
			top: 15px;
			z-index: 5;
		}
	}
}

.hamburger {
	position: absolute;
	top: 3em;
	left: 1em;
	z-index: 500;
	transform: translateY(-50%);

	&-inner,
	&-inner::before,
	&-inner::after {
		background-color: $white;
		z-index: 500;
	}
}

.nav {
	&-mobile {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: $white;
		transform: translateX(-102%);
		transition: transform 0.3s;
		z-index: 10;
		overflow: hidden;

		&-active {
			transform: translateX(0);
		}
	}

	&-desktop {
		display: none;
	}

	&__link {
		position: relative;
		display: inline-block;
		margin: 0.5em;
		padding: 0.5em;
		font-size: 2.3rem;
		color: $darker;
		text-decoration: none;
		transition: color 0.3s;

		&:hover {
			color: $royalblue;
		}
	}
}

// main

.cards {
	background-color: $dark;
	padding: 6em 2em;
	overflow: hidden;

	.aboutmetxt {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 70px;

		&__text {
			text-align: justify;    
		}
	}


	&__box {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		gap: 2em;
		padding: 6em 1em;
	}

	&__card {
		position: relative;
		display: grid;
		justify-items: center;
		padding: 3em;
		text-align: center;
		border: 1px solid transparent;
		border-radius: 8px;
		background-color: $dark;
		transition: background-color 0.3s, border 0.3s;
		z-index: 5;

		&:hover {
			background-color: $dark;
			border: 1px solid $royalblue;
			z-index: 1;
		}

		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			border: 1px solid $royalblue;
			border-radius: 8px;
			opacity: 0;
		}

		&:hover::before {
			animation: pulse 1s;
		}

		img {
			margin-bottom: 1em;
			width: 60px;
		}

		h3 {
			margin-bottom: 0.6em;
			text-transform: uppercase;
		}

		&--one {
			grid-row: 1/2;
			grid-column: 1/-1;
		}
		&--two {
			grid-row: 2/3;
			grid-column: 1/-1;
		}
		&--three {
			grid-row: 3/4;
			grid-column: 1/-1;
		}
	}
}

// offer
.offer {
	position: relative;
	display: grid;
	grid-template-areas:
		'title title title'
		'box box box'
		'box box box';
	padding: 6em 2em;

	&__title {
		grid-area: title;
	}

	&__boxes {
		grid-area: box;
	}

	&__box-img {
		width: 100%;
		object-fit: cover;
		filter: grayscale(80%);
		border-radius: 4px;
	}

	&__box-title {
		margin: 0.5em 0;
		font-size: 2.6rem;
		color: $royalblue;
		font-weight: 200;
	}

	&__box-test {
		margin-bottom: 0.9em;
	}

	&__box-describe {
		margin-bottom: 0.6em;
		margin-top: 0.6em;
	}

	&__box-link {
		display: block;
		margin-bottom: 2em;
		font-weight: bold;
		color: $royalblue;
		text-decoration: none;
		text-align: right;
		transition: color 0.3s;

		&:hover {
			color: $darker-blue;
		}
	}

	&__bg-icon {
		display: none;
	}
}

//price

.price {
	padding: 6em 2em;
	background-color: $dark;

	&__box {
		margin: 1em 0;
		padding: 2em 1em;
		text-align: center;
		border: 1px solid transparent;
		border-radius: 8px;
		background-color: $darker;
		cursor: crosshair;
		transition: border 0.9s, background-color .9s, scale .1s;
		z-index: -5;

		&:hover {
			background-color: $dark;
			border: 1px solid $royalblue;
		}

		&:hover .price__item-icon {
			transform: scale(1.4);
		}

		&:hover .price__item-money {
			transform: scale(1.1);
		}

		&:hover .price__item-name {
			transform: scale(1.1);
		}

		&:hover .price__item-details {
			transform: scale(1.1);
		}

		&:hover .price__item-term {
			transform: scale(1.1);
		}
	}

	&__item {
		margin: 1em 0;
		transition: .6s;
	}

	&__item-icon {
		width: 50px;
	}

	&__item-name {
		margin-top: 0;
		margin-bottom: 1.5em;
		font-size: 1.8rem;
		color: $royalblue;
	}

	&__discount-price {
		position: relative;
		
		&::before {
			content: '590zł';
			position: absolute;
			left: 25px;
			top: -25px;
			color: red;
			transform: rotate(-15deg);
			text-decoration: line-through;
		}
	}

	&__discount-price2 {
		position: relative;
		
		&::before {
			content: '1190zł';
			position: absolute;
			left: 16px;
			top: -25px;
			color: red;
			transform: rotate(-15deg);
			text-decoration: line-through;
		}
	}
}

//disconut

.discount {
	padding: 8em 2em;
	background-color: $CTA-color2;
	text-align: center;

	&__text {
		padding: 1em;
		margin-bottom: 1em;
		font-size: 4rem;
		font-weight: 200;
	}

	&__form {
		input {
			margin-bottom: 1em;
			padding: 1em;
			width: 100%;
			border: 1px solid $royalblue;
			border: 1px solid transparent;
		}

		button {
			padding: 1em;
			border: 1px solid $royalblue;
			background: none;
			color: $royalblue;
			font-weight: bold;
			cursor: pointer;
			transition: background-color 0.3s, color 0.3s;

			&:hover {
				color: $CTA-color2;
				background-color: $royalblue;
			}
		}
	}
}

// portfolio

.portfolio {
	padding: 6em 2em;
	height: 500px;
	background-color: $dark;

	&__text {
		text-align: center;
		font-size: 1.6rem;
	}
}

// opinions

.opinions {
	padding: 6em 2em;
	height: 400px;
	background-color: $darker;

	&__text {
		text-align: center;
		font-size: 1.6rem;
	}
}

// contact

.contact {
	padding: 6em 2em;
	background-color: $dark;

	&__form {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}

	&__form-box {
		label {
			display: block;
			margin-bottom: 0.5em;
			font-size: 2rem;
		}

		textarea {
			max-width: 100px;
			width: 100%;
			min-width: 100%;
		}

		input,
		textarea {
			padding: 1em 2em;
			margin-bottom: 2em;
			width: 100%;
			color: $white;
			background: none;
			border: 1px solid rgba(255, 255, 255, 0.1);

			&:focus {
				outline: none;
				border: 1px solid $royalblue;
			}
		}
		&:nth-child(1) {
            grid-column: 1/-1;
            grid-row: 1/2;
        }

        &:nth-child(2) {
            grid-column: 1/-1;
            grid-row: 2/3;
        }

        &:nth-child(3) {
            grid-column: 1/-1;
            grid-row: 3/4;
        }
    }

    &__form-btn {
        grid-column: 1/3;
        grid-row: 4/5;
        padding: 1em;
        border: 1px solid $royalblue;
        background: none;
        font-weight: bold;
        color: $royalblue;
        cursor: pointer;
        transition: background-color .3s, color .3s;

        &:hover,
        &:focus {
            outline: none;
            color: $dark;
            background-color: $royalblue;
        }
    }
}

.footer {
	margin: 3em;
	// display: flex;
	// justify-content: center;
	text-align: center;

	&__text-item {
		font-size: 1.6rem;
	}
}

@import './small';
@import './medium';
@import './large';
